@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  --content-width: 1000px;
  --navbar-height: 60px;
  --border-radius: 9999px;

  --content-padding-x: 2rem;
  --content-padding-y: 2rem;
  --content-padding: var(--content-padding-y) var(--content-padding-x);
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));

  font-family: var(--font-poppins);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-inter);
}